.navbarItem {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    color: grey;
}

.navbarItem:hover {
    color: black;
}

a {
    color: gray;
}

@media (min-width: 576px) {
    .navbarItem {
        padding-left: 8px;
        padding-right: 8px;
        align-self: end;
    }
}
