.card {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 0.4em;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

h6 {
    color: gray;
}

.cardButtonContainer {
    text-align: center;
}

.cardButton {
    border: black;
    background-color: rgb(242, 242, 242);
    padding: 5px;
    border-radius: 2px;
}

.cardButton:hover {
    background-color: rgb(220, 220, 220);
}