.navbarBrand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 16px;
    text-decoration: none;
    font-size: 20px;
    flex-grow: 1;
}

a, a:link, a:hover, a:visited {
    text-decoration: none;
  }